<!--
//start up a front-end template to use with handlebars
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Handlebars Template</title>
</head>
<body>
  <section>
  <header>
    <div class="content">
     <h1 class="title">Mongo Scraper<h1>
    </div>
  </header>
  {{{body}}}
</section>
</body>
</html>
