<div class="container">
  <section id="#notes">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image has-text-centered">
            <i class="fa fa-newspaper-o"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>{{article.title}}</h3>
              <p>{article.summary}</p>
              <div class="has-text-centered">
                <a class="button" href="{{article.link}}" target="_blank">Read</a><span>&nbsp;&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div id="saved-notes" class="column is-two-thirds">

      <div class="card article">
        <div class="card-content">
          <div class="content article-body">
            <h4>{{article.note.title}}</h4>
            <p>{{article.note.body}}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- END ARTICLE -->


</div>
